$spacings: (
        "mobile": (
                border-radius: (100: 2px, 200: 5px, 300: 6px, 400: 10px, 500: 13px, 600: 16px, 700: 22px, 800: 26px, 900: 32px, 1000: 46px, full: 1000px),
                gap: (100: 4px, 200: 8px, 300: 12px, 400: 16px, 500: 20px, 600: 26px, 700: 32px, 800: 40px, 900: 48px, 1000: 56px),
                margin: (100: 4px, 200: 8px, 300: 12px, 400: 18px, 500: 26px, 600: 32px, 700: 40px, 800: 60px, 900: 70px, 1000: 124px),
                padding: (100: 2px, 200: 4px, 300: 8px, 400: 12px, 500: 16px, 600: 22px, 700: 30px, 800: 36px, 900: 52px, 1000: 60px)
        ),
        "tablet": (
                border-radius: (100: 3px, 200: 6px, 300: 9px, 400: 12px, 500: 15px, 600: 18px, 700: 26px, 800: 32px, 900: 38px, 1000: 46px, full: 1000px),
                gap: (100: 4px, 200: 8px, 300: 12px, 400: 16px, 500: 20px, 600: 26px, 700: 32px, 800: 40px, 900: 48px, 1000: 56px),
                margin: (100: 4px, 200: 10px, 300: 14px, 400: 20px, 500: 28px, 600: 36px, 700: 48px, 800: 68px, 900: 80px, 1000: 124px),
                padding: (100: 3px, 200: 6px, 300: 10px, 400: 14px, 500: 18px, 600: 24px, 700: 32px, 800: 40px, 900: 46px, 1000: 60px)
        ),
        "desktop": (
                border-radius: (100: 4px, 200: 8px, 300: 12px, 400: 16px, 500: 20px, 600: 24px, 700: 32px, 800: 40px, 900: 48px, 1000: 56px, full: 1000px),
                gap: (100: 4px, 200: 8px, 300: 12px, 400: 16px, 500: 20px, 600: 26px, 700: 32px, 800: 40px, 900: 48px, 1000: 56px),
                margin: (100: 6px, 200: 12px, 300: 18px, 400: 24px, 500: 34px, 600: 44px, 700: 60px, 800: 76px, 900: 100px, 1000: 124px),
                padding: (100: 4px, 200: 8px, 300: 12px, 400: 16px, 500: 20px, 600: 28px, 700: 36px, 800: 44px, 900: 52px, 1000: 60px)
        ),
)