@font-face {
  font-family: "Roboto Regular";
  font-weight: 500;
  src: url("../../../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  font-weight: 400;
  src: url("../../../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  src: url("../../../fonts/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Light";
  font-weight: 300;
  src: url("../../../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Josefin Sans Regular";
  font-weight: 400;
  src: url("../../../fonts/josefin/static/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "Josefin Sans Medium";
  font-weight: 500;
  src: url("../../../fonts/josefin/static/JosefinSans-Medium.ttf");
}
@font-face {
  font-family: "Josefin Sans Bold";
  font-weight: 700;
  src: url("../../../fonts/josefin/static/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: "Josefin Sans SemiBold";
  font-weight: 600;
  src: url("../../../fonts/josefin/static/JosefinSans-SemiBold.ttf");
}
@font-face {
  font-family: "Josefin Sans Light";
  font-weight: 300;
  src: url("../../../fonts/josefin/static/JosefinSans-Light.ttf");
}

@mixin text-style-headings-heading-h-1() {
  font-family: "Josefin Sans Bold";
  font-weight: 700;
  font-style: normal;
  @include min(mobile) {
    font-size: ptr(40, mobile)
  }
  @include min(tablet) {
    font-size: ptr(40, tablet)
  }
  @include min(desktop) {
    font-size: ptr(80, desktop)
  }
}
@mixin text-style-headings-heading-h-2() {
  font-family: "Josefin Sans Bold";
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  @include min(mobile) {
    font-size: ptr(36, mobile)
  }
  @include min(tablet) {
    font-size: ptr(36, tablet)
  }
  @include min(desktop) {
    font-size: ptr(72, desktop)
  }
}
@mixin text-style-headings-heading-h-3() {
  font-family: "Josefin Sans SemiBold";
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  @include min(mobile) {
    font-size: ptr(32, mobile)
  }
  @include min(tablet) {
    font-size: ptr(32, tablet)
  }
  @include min(desktop) {
    font-size: ptr(64, desktop)
  }
}
@mixin text-style-headings-heading-h-4() {
  font-family: "Josefin Sans Medium";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(28, mobile)
    }
    @include min(tablet) {
        font-size: ptr(28, tablet)
    }
    @include min(desktop) {
        font-size: ptr(56, desktop)
    }
}
@mixin text-style-headings-heading-h-5() {
  font-family: "Josefin Sans Regular";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(24, mobile)
    }
    @include min(tablet) {
        font-size: ptr(24, tablet)
    }
    @include min(desktop) {
        font-size: ptr(48, desktop)
    }
}
@mixin text-style-headings-heading-h-6() {
  font-family: "Josefin Sans Regular";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(20, mobile)
    }
    @include min(tablet) {
        font-size: ptr(20, tablet)
    }
    @include min(desktop) {
        font-size: ptr(40, desktop)
    }
}
@mixin text-style-paragraphs-paragraph-xl() {
  font-family: "Roboto Medium";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(18, mobile)
    }
    @include min(tablet) {
        font-size: ptr(18, tablet)
    }
    @include min(desktop) {
        font-size: ptr(36, desktop)
    }
}
@mixin text-style-paragraphs-paragraph-l() {
  font-family: "Roboto Medium";
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(16, mobile)
    }
    @include min(tablet) {
        font-size: ptr(16, tablet)
    }
    @include min(desktop) {
        font-size: ptr(32, desktop)
    }
}
@mixin text-style-paragraphs-paragraph-m() {
  font-family: "Roboto Regular";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(14, mobile)
    }
    @include min(tablet) {
        font-size: ptr(14, tablet)
    }
    @include min(desktop) {
        font-size: ptr(28, desktop)
    }
}
@mixin text-style-paragraphs-paragraph-s() {
  font-family: "Roboto Regular";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
    @include min(mobile) {
        font-size: ptr(12, mobile)
    }
    @include min(tablet) {
        font-size: ptr(12, tablet)
    }
    @include min(desktop) {
        font-size: ptr(24, desktop)
    }
}
@mixin text-style-paragraphs-paragraph-xs() {
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  @include min(mobile) {
    font-size: ptr(10, mobile)
  }
  @include min(tablet) {
    font-size: ptr(10, tablet)
  }
  @include min(desktop) {
    font-size: ptr(20, desktop)
  }
}
@mixin effect-style-main-shaddow() {
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.250);
}