@each $color-name, $color-value in $colors {
  .#{$color-name} {
    color: $color-value;
  }
  .bg-#{$color-name} {
    background-color: $color-value;
  }
  .hover-#{$color-name}:hover {
    color: $color-value;
  }
  .hover-bg-#{$color-name}:hover {
    background-color: $color-value;
  }
  .active-#{$color-name}:active {
    color: $color-value;
  }
  .active-bg-#{$color-name}:active {
    background-color: $color-value;
  }
  .border-#{$color-name} {
    border: $color-value 1px solid;
  }
    .border-top-#{$color-name} {
        border-top: $color-value 1px solid;
    }
    .border-right-#{$color-name} {
        border-right: $color-value 1px solid;
    }
    .border-bottom-#{$color-name} {
        border-bottom: $color-value 1px solid;
    }
    .border-left-#{$color-name} {
        border-left: $color-value 1px solid;
    }
  .color-#{$color-name} {
    color: $color-value;
  }
  .fill-#{$color-name} {
    fill: $color-value;
  }
  .stroke-#{$color-name} {
    stroke: $color-value;
  }
}